

.container {
	width: 865px;
	height: calc(100vh - 16px - 6px);
	overflow: hidden;
}
::-webkit-scrollbar {
	background: rgb(245, 222, 179);
}
::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 24px;
	width: 12px;
}


body {
	background: rgb(51, 51, 51);
	overflow: hidden;
}
header {
	color: cornsilk;
	font-family: monospace;
	font-size: 18px;
}
footer {
	width: 860px;
	height: 40px;
	display: flex;
	position: absolute;
	bottom: 40px;
	justify-content: center;
	color: wheat;
	font-weight: 900;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	z-index: -1;
	text-align: center;
}
#FenInDiv {
	position: relative;
	left: 30px;
	border: solid 1px gray;
	padding: 1ch;
	width: 770px;
	
}

#fenIn { 
 width: 630px;
 border-radius: 4px;
 border: solid 1px lightblue;
 height: 22.5px;
}
#SetFen {
	width: max-content;
	border: white solid;
	background: radial-gradient(circle at 0 0, white, whitesmoke, rgb(255, 252, 246));
	cursor: pointer;
	border-radius: 5px;
	font-weight: 900;
}
#Board {
	position: relative;
	top: 20px;
	left: 30px;
	width: 480px;
	height: 480px;
	border-style: solid;
	border-width: 2px;
}

#EngineOutput {
	position: relative;
	top: -460px;
	height: 430px;
	width: 230px;
	left: 560px;	
	background: #216778;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 4ch 2ch 2ch 2ch;

	border-radius: 15px;
	display: flex;
	flex-direction: column;

}
#ThinkTimeChoice {
	width: 100%;
	height: 38px;
	border-radius: 12px;
	color: brown;
	font-size: 18px;
	font-weight: 900;
	text-align: center;
	background: wheat;
}

.instructions {
	position: absolute;
	top: 700px;
	color: blanchedalmond;
	font-size: 18px;
	width: 865px;
	height: 480px;
}

#openInstructions {
	border: none;
	background: none;
	color: blanchedalmond;
	font-size: 22px;
	font-family: monospace;
	text-decoration: underline;
	cursor: pointer;
}
#instructions {
	background-color: black;
	border-radius: 12px;
	padding: 1ch;
	display: none;
	z-index: 3 !important;
}
.buttonsbtnss {
	display: flex;
	width: 100%;
	flex-direction: row;
	height: 40px;
	justify-content: center;
	gap: 8px;
}
.buttonsbtnss > button {
	color: rgb(0, 255, 76);
	width: 40px;
	background: rgb(44, 77, 52);
	border: 0;
	font-size: 25px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 900;
	border-radius: 8px;
	border: #216778 2px outset;
	cursor: pointer;
}

.buttonsbtnss > button:active {
	border: #216778 2px inset;
}
.Square {
	position: absolute;	
	width: 60px;
	height: 60px;
}

.Dark {
	background-color:rgb(0, 160, 0);
}

.Light {
	background-color:cornsilk;
}

.SqSelected {
	background-color:rgb(160, 160, 160);
}

.rank1 { top: 420px; }
.rank2 { top: 360px; }
.rank3 { top: 300px; }
.rank4 { top: 240px; }
.rank5 { top: 180px; }
.rank6 { top: 120px; }
.rank7 { top: 60px; }
.rank8 { top: 0px; }

.file1 { left: 0px; }
.file2 { left: 60px; }
.file3 { left: 120px; }
.file4 { left: 180px; }
.file5 { left: 240px; }
.file6 { left: 300px; }
.file7 { left: 360px; }
.file8 { left: 420px; }

.Piece {
	position: absolute;
}


@media screen and (width > 920px)  {


body {
	background: radial-gradient(circle at 0 0, #52674a, #497a7a);
	display: flex;
	justify-content: center;
	z-index: -3;
}
.container {
	border-radius: 14px;
	background: rgba(0, 0, 0, .65);
	background-size: cover;
}
}